body {
    margin: 0px;
    padding: 0px;
    background-image: url();
}

.del {
    background-color: aquamarine;
    color: black;
}

.main {
    margin-left: 350px;
    margin-top: 40px;
}

.heading {
    margin-left: 499px;
}

.edit {
    background-color: aquamarine;
    color: black
}

/* @media only screen and (max-width: 480px) {
    .main{
        display: flex;
    }
    
} */