body{
    margin: 0px;
    padding: 0px;
background-image:url() ;
}

.main{
    margin-left:350px ;
    margin-top: 40px;
}
.heading{
    margin-left: 499px;
}
/* @media only screen and (max-width: 480px) {
    .main{
        display: flex;
    }
    
} */